* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 90%; /* Use a percentage value for width */
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
  }

  .input-form,
  .datePicker input,
  .dropDownSelect {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .address {
    border: none;
    padding: 0;
    margin: 25px 0 10px 0;
    width: 100%; /* Use a percentage value for width */
    width: 250px;
  }
  .inputDepartement{
    width: 100%; /* Use a percentage value for width */
  max-width: 250px;
  }
  
  
  legend {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .submitForm{
    background: transparent;
    color: #ff9950;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 3px solid lavenderblush;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
  }
  .submitForm:before{
    content: "";
    position: absolute;
    background: #ff9950;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur();
  }
  .submitForm:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;

  }
  
  .field{
    width: 100%;
    margin-bottom: 10px;
    max-width: 250px;
    color: #333;
  }
  .fieldBottom{
    margin-top: 10px;
  }
  .field .label-wrapper{
    pointer-events: none;
  }
  .field .label-wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ff9950;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
    .datePicker{
      height: 4rem;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 250px;
      color: #333;
   }
   .dropdown > div > div{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

.errorMessage {
  color: red;
  font-size: 11px;
  margin-top: 0;
  }

  @media screen and (max-width: 768px) {
.container {
width: 80%;
margin-top: 3rem;
margin-bottom: 3rem;
}

.input-form,
.datePicker input,
.dropDownSelect {
font-size: 14px;
}

.address {display: flex;
  width: 31rem;
  flex-direction: column;
  align-items: center;
}


.inputDepartement{
width: 100%;
}

.submitForm{
font-size: 14px;
padding: 10px 20px;
}

.field{
max-width: 70%;
}

.datePicker{
height: 3rem;
max-width: 70%;
}
.dropdown{
 width: 70%;
}
.fieldBottom {
  width: 70%;
}

.dropdown > div > div{
font-size: 14px;
}
}