* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 6rem auto 0;
    margin-bottom: 6rem;
    width: 33%;
    border-radius: 15px;
  }
  /* label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  } */
  
  .input-form,
  .datePicker input,
  select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    caret-color: #ff9950;
  }

  .address {
    border: none;
    padding: 0;
    margin: 25px 0 10px 0;
    width: 250px;
  }
  .inputDepartement{
    width: 250px;
  }
  
  
  legend {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .submitForm{
    background: transparent;
    color: #ff9950;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid #ff9950;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .submitForm:before{
    content: "";
    position: absolute;
    background: #ff9950;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur();
  }
  .submitForm:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;

  }
 /* button {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #ff9950;
  } */
  
  
  .field{
    position: relative;
    height: 52px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 250px;
    color: #333;
    overflow: hidden;
  }
  .fieldBottom{
    margin-top: 10px;
  }

  .field input{
    position: absolute;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    line-height: 52px;
    outline: 0;
    background-color: inherit;
    padding-top: 25px;
    border: none;
    box-sizing: border-box;
  }
  .field .label-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    left: 0;
    pointer-events: none;
    border-bottom: 1px solid #333;
  }
  .field .label-wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ff9950;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  .field .label-text{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
  }
    .field input:focus + .label-wrapper .label-text,
    .field input:valid + .label-wrapper .label-text{
        font-size: 12px;
        color: #ff9950;
        transform: translateY(-150%);
    }
    .field input:focus + .label-wrapper::after,
    .field input:valid + .label-wrapper::after{
        transform: translateY(0%);
    }

    .datePicker{
      height: 52px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 250px;
      color: #333;
   }
   .dropdown > div > div{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
